doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Speech to Text
    link(href='css/watson-bootstrap-style.css', rel='stylesheet')
    link(href='css/browser-compatibility.css', rel='stylesheet')
    link(href='css/demo-stt.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
  body
    // top nav section
    .navbar-wrapper
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          // IBM Watson Logo
          .navbar-header
            a.navbar-brand.no-underline(href='/')
              |  butterfly
          //- .float-right
          //-   ul.nav.navbar-nav
          //-     li
          //-       a.no-underline(href='/') Home
    .container.header-container
      .col-lg-2.col-md-2.hidden-xs.hidden-sm
        img.butterfly-icon(src='images/butterfly.png')
      // .col-lg-2
      .col-lg-10.col-md-10.col-xs-12
        .butterfly-title butterfly
        .butterfly-pitch Presentations are difficult. Butterfly isn't. Join the revolution.
      .col-xs-12
        .header-bottom-divider
    .container
      .row
        .col-xs-6
            button#recordButton.btn.btn-success.btn-block(type='button')
              img#microphoneIcon.icon(src='images/microphone.svg')
              span.nav-label Start Presentation
        .col-xs-6
          button#fileUploadTarget.btn.btn-success.btn-block(type='button')
            img.icon(src='images/upload.svg')
            span.nav-label Select File
          //- // Buttons
          //- .form-group(style='margin: auto;')
          //-   .center-block.btn-group(role='group', aria-label='...')
      .row#speech-container
        .col-xs-12
          .row
            .well
              #resultsText
      .row#chart-container
        .col-xs-12
          .row
            .well
              #resultsText
          .row
            .col-sm-6.col-md-3
              .chart-wrapper
                .chart-title
                  | Cell Title
                .chart-stage
                  #grid-1-1
                    // chart goes here!
                .chart-notes
                  | Notes about this chart

        .row
          .col-lg-12.col-md-12.col-sm-12
            .audioParent
              audio.audio(style='display:none', controls='')
                | Your browser does not support the audio element.

      // For file upload dialog in toolbar
      input#fileUploadDialog(style='display:none', type='file')
      // Place js files at the end of the document, with fallbacks for CDNs
      script(src='https://code.jquery.com/jquery-1.11.3.min.js')
      script.
        window.jQuery || document.write('<script src="js/jquery-1.11.3.min.js"><\\/script>')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
      script.
        (typeof $().emulateTransitionEnd == 'function')|| document.write('<script src="js/bootstrap-3.3.5.min.js"><\\/script>')
      script(src='js/main.js')
